{% extends "base.html" %}

{% block title %}Recupera tu contraseña{% endblock %}

{% block content %}  
    <h1>Recuperación de contraseña</h1>  
    {% if validlink %}    
        <p>Por favor ingrese su nueva contraseña 2 veces:</p>    
        <form method="post">   
            {% csrf_token %}    
            {{ form.as_p }}      
            <p><input class="button" type="submit" value="Cambiar mi contraseña" /></p>    
        </form>  
    {% else %}    
    <p>El link para recuperación es inválido, posiblemente porque ya ha sido usado.  
        Por favor, solicite otra vez la recuperación de la contraseña</p>  
    {% endif %}
{% endblock %}
